@charset "utf-8";
/* CSS Document */

body{
	font-family:"微软雅黑";
}
.top{
	height:41px;
	background:#FCFCFC;
	width:100%;
	border-bottom:#EDEEF0 solid 2px;
}
.zhuce span{
	color:#999999;
	height:41px;
	line-height:41px;
	font-size:12px;
}
.zhuce input{
	height:22px;
	border:#A8A8A8 1px solid;
	width:78px;
	margin-right:16px;
	margin-left:3px;
	padding:0 10px;
}
.zhuce a{
	font-size:12px;
	color:#999999;
}
.zhongjie{
	float:right;
	margin-right:-22px;
}
.nav ul{
	width:877px;
	float:right;
	padding-top:30px;
}
.nav ul li a{
	color:#3F3F3F;
	font-size:12px;
}
.nav .active{
	color:#FA4E7E;
}
.nav ul li{
	float:right;
	padding-left:50px;
	font-size:12px;
}
.nav ul li a:hover{
	color:#FA4E7E;
}
.nav img{
	padding-top:25px;
}
.sousuo{
	height:80px;
	background:#F5F5F5;
	border-bottom:#E1E1E1 1px solid;
}
.sousuo .img{
	padding-left:162px;
	margin:22px;
}
.sousuo .text1{
	margin-left:-18px;
	color:#656565;
	font-size:16px;
}
.xingbie{
	width:98px;
	height:32px;
}
select{
	color:#CCCCCC;
	padding-left:6px;
	font-size:14px;
	margin-left:40px;
	border:#CCCCCC 1px solid;
}
.years{
	width:98px;
	height:32px;
	margin-left:0;
}
.diqu{
	width:200px;
	height:33px;
}
.sousuo .text2 a{
	height:33px;
	width:120px;
	background:#FA4E7E;
	line-height:29px;
	text-align:center;
	display:inline-block;
	color:#FFFFFF;
	font-size:16px;
}
.sousuo input{
	width:78px;
	height:29px;
	border:#CCCCCC solid 1px;
	margin-top:-1px;
	padding-left:10px;
}
.content{
	padding-top:35px;
}
.body{
	border-bottom:#E5E5E5 1px solid;
}
.left{
	width:271px;
	float:left;
}
.left p{
	width:115px;
	height:30px;
	color:#F94D7D;
	border-bottom:#FA4E7E 2px solid;
	font-weight:bold;
	margin-bottom:-2px;
	font-size:18px;

}
.left .text2 a{
	color:#333333;
	font-size:14px;
}
.left .text3{
	float:right;
	color:#999999;
	font-size:14px;
	padding-right:5px;
}
.left li{
	line-height:27px;
}
.left ul{
	padding-bottom:18px;
}
.left .text4 a{
	font-size:24px;
	color:#666666;
}
.left .text5 a{
	width:100px;
	height:32px;
	background:#FB4E7E;
	display:inline-block;
	line-height:32px;
	text-align:center;
	color:#FFFFFF;
	margin-left:54px;
	font-size:20px;
}
.right{
	float:right;
	width:870px;
	padding-bottom:128px;
}
.right ul{
	padding-bottom:10px;
}
.right .text1{
	color:#F94D7D;
	font-size:18px;
	font-weight:bold;
	border-left:#FB4E7E 3px solid;
	padding-left:8px;
	margin-top:6px;
	height:20px;
	line-height:20px;
	margin-bottom:16px;
	margin-left:21px;
}
.right .text2 a{
	font-size:14px;
	color:#434343;
	
	font-weight:bold;
}
.right .text2 a{
}
.right .text3{
	width:230px;
	font-size:12px;
	color:#434343;
	line-height:26px;
	margin-top:-6px;
}
.right li{
	float:right;
	padding-bottom:10px;
	width:230px;
	
}
.bottom{
	padding-top:40px;
	text-align:center;
	padding-bottom:327px;
	background:#F9F9F9;
}
.bottom a{
	color:#656565;
	font-size:10px;
	height:12px;
}
.bottom p,a{
	color:#656565;
	font-size:10px;
	line-height:30px;	
}